body{
  overflow-y: hidden;  
  overflow-x: hidden;
}

@font-face {
  font-family: Graphik;
  src: url("Graphik/Graphik-Regular.otf") format("opentype");
}


@font-face {
  font-family: Graphik;
  font-weight: 300; 
  src: url("Graphik/Graphik-Light.otf") format("opentype");
}

@font-face {
  font-family: Graphik;
  font-weight: 500; 
  src: url("Graphik/Graphik-Medium.otf") format("opentype");
}

@font-face {
  font-family: Graphik;
  font-weight: 600; 
  src: url("Graphik/Graphik-Semibold.otf") format("opentype");
}

.app {
  z-index: 100; 
  width: 100%;
  height: 1000px;
  min-height: 100%;
  background-image: linear-gradient(57deg, #c41f4c, #841b5f);
  box-shadow: inset 0 7px 10px 0 rgba(147, 9, 49, 0.08), inset 0 -6px 5px 0 #7e1d39;
  overflow: hidden;
}

.app-left{
  float: left;

}

.app-right{
  float: right;
}

.app-clear{
  clear: both;
}
.app-header{
  width: 100%; 
  position: absolute;
  top:0px;
  z-index: 110;
}

.logo-cont img{
  position: absolute;
  top:50px;
  left:49px;
  width: 146px;
  height: 22px; 
}

.round-button-top {
    width: 205.9px;
    height: 44.9px;
    border-radius: 42.2px;
    border: solid 0.7px #ffffff;
    position: absolute;
    top: 40px;
    right: 4%;
}

.request-free-invite {
 width: 153px;
 height: 17px;
 font-family: Graphik;
 font-size: 16.9px;
 font-weight: 600;
 text-align: left;
 color: #ffffff;
 position: relative;
 top: 12px;
 left: 29px;
}

.app-left{
  width:50%;
}
.app-right{
  width: 50%;
}

.take-your-style{
  width: 391px;
  height: 115px;
  font-family: Graphik;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.19;
  text-align: left;
  color: #ffffff;
  position: absolute;
  top: 168px; 
  left:207px; 
}

.mil-count{
  width: 230px;
  height: 72px;
  font-family: Graphik;
  font-size: 72px;
  font-weight: 300;
  text-align: left;
  color: #ffffff;
  position: absolute;
  left: 207px;
  top:306px;
}


.millennials {
  width: 250px;
  height: 58px;
  font-family: Graphik;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.19;
  text-align: left;
  color: #ffffff;
  position: absolute;
  left: 207px;
  top:405px;
}

.cam-layer-2{
  position: absolute;
  left: 200px;
  top: 500px;
  width: 123px;
  height: 123px;
  object-fit: contain;
  text-align: center;
  background-color: rgba(255,255,255,0.1);
  border-radius: 50%; 
}

.cam-layer-1{
  width: 93px;
  height: 93px;
  object-fit: contain;
  border-radius: 50%;
  text-align: center;
  position: relative;
  background-color: rgba(255,255,255,0.2);
  top: 15px;
  left: 15px;
}

.cam{
    position: relative;
    top: 15px;
}

.app-left-cont{
  transform: scale(0.8);
}

.app-right-cont{
  transform: scale(1.6);
}

.app-header-cont{
  transform: scale(0.95);
}

.get-early-access{
   width: 240px;
  height: 72px;
  font-family: Graphik;
  font-size: 24px;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
  position: absolute;
  left: 343px;
  top:524px; 

}

.request-free-invite-left{
    width: 181px;
    height: 20px;
    font-family: Graphik;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    position: relative;
    top: 18px;
    left: 40px;
}


.request-invite-left{
  width: 257.4px;
  height: 56.1px;
  border-radius: 52.8px;
  background-color: #6d77ff;
  position: absolute;
  left: 210px; 
  top: 671px; 
}


.hurry-slots{
  width: 200px;
  height: 16px;
  font-family: Graphik;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
  position: absolute;
  left:247px;
  top:740px;
}


.phone{
      position: absolute;
    left: 141px;
    top: -24px;
    height: 486px;
}

.phone img{
  width: 234px;
  height: 506px;
  object-fit: contain;
}

.carousel {
height: 188px;
    width: 126.3px;
    position: absolute;
    top: 127px;
    left: 195.65px;
    background: #28202d;
    overflow: hidden;
    overflow-x: hidden;
}

.carousel-cont{
  overflow: auto;
  overflow-x: hidden;
  height: 100%; 
  width: 100%; 
  padding-right: 20px;
}


.carousel img{
  width: 130.45px;
  height: 130.45px; 
  margin-bottom: -4px;
  object-fit: cover;
}

.card-line{
      width: 118%;
    height: 20px;
    background-color: white;
    padding: 3px;
}
.photoPh{
    height: 15px !important;
    width: 15px !important;
    background: #bbb;
    border-radius: 15px;
    position: relative;
    top: 2px;
    left: 4px;
    object-fit: cover;
    float: left;
}

.card-name{
      font-size: 7px;
    font-family: Graphik;
    font-weight: 600;
    position: relative;
    top: 7px;
    left: 12px;
}


.card-desc{
    width: 118%;
    background: white;
    margin-top: -8px;
    padding: 3px;
    margin-left: 0px;
    margin-bottom: -9px;
    padding-top: 0px;
}

.card-heading{
  font-family: Graphik;
    font-size: 7px;
    margin-left: 3px;
}

.card-body{
  font-size: 7px;
    color: #aaa;
    position: relative;
    top: -9px;
    margin-left: 3px;
}

.social{
position: absolute;
    top: 373px;
    right: 25%;
    transform: scale(0.7);
}
.social a img{
      width: 25px;
    margin-right: 10px;
}

.modal-logo img{
  width: 40px;
    /* margin: auto; */
    position: relative;
    left: 42%;
    margin-bottom: 14px;
    padding: 10px;
}

.be-the-first{
    width: 456px;
  height: 32px;
  font-family: Graphik;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  color: #252525;
  margin-left: 20px; 
  margin-right: 20px; 
}

.already-in{
  width: 228px;
    height: 32px;
    font-family: Graphik;
    font-size: 24px;
    text-align: left;
    color: #6d3dbb;
    position: relative;
    text-align: center !important;
    left: 25%;
}

.email-input{
width: 476px;
    height: 64px;
    background-color: #f0f0f0;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 31px;
    text-align: left;

  opacity: 0.6;
  font-family: Graphik;
  font-size: 20px;
  text-align: left;
  color: #5a5959;
}

.instruction-sent{
  text-align: center;
}

.error-text{
  width: 100%; 
  text-align: center;
  color: #ec212f;
  font-size: 16px;
  margin-top: 5px;
}

.modal-submit{
  width: 213px;
  height: 56px;
  border-radius: 50px;
  background-image: linear-gradient(252deg, #6d92ff, #6d77ff);
  margin-top: 15px !important;
    margin-bottom: 8px;
    margin: auto;
    box-shadow: 0px 12px 10px 0px rgba(0,0,0,0.2);
}

.modal-submit-text{
    width: 100%;
    height: 20px;
    font-family: Graphik;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    position: relative;
    top: 16px;
    /* left: 40px; */
}

.pointer{
  cursor: pointer;
}

.app-body-mobile{
  display: none;
}

.thumbsup{
  float: right;
    width: 25px;
    position: relative;
    left: -55px;
    top: -4px;
}

.got-it{
  margin-top: 44px !important; 
}

.social-share{
  width: 52%;
  margin: auto;
  text-align: center;
  position: relative;
  top: 11px;
  margin-bottom: 10px;
}

.tw-share{
  float: left;
}
/* MOBILE */ 

@media (max-width:641px) {

.app-body-mobile{
  width: 100%; 
  display: block;
  max-width: 100%; 
  overflow: hidden;
  padding-top: 70px;
  padding-left:0px;
}


.app-body-container-web{
  display: none;
}

.mob-bg-cont{
  width: 100%;
  height: 100%; 
  float: left;
  position: fixed;
  top:0;
}

.mob-bg-cont img{
      width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
    float: left;
    object-position: -150px 0px; 
    z-index: 40;
}

.mob-header{
text-align: center;
    margin: auto;
    display: block;
    position: relative;
    top: 15px; 
}

.mob-take-your-style{
width: 391px;
    height: 115px;
    font-family: Graphik;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.19;
    color: #ffffff;
    text-align: center;

        position: relative;
    top: 45px;
    left: -10px;
}

.mob-mil-count{
width: 100%;
    text-align: center;
    /* height: 7px; */
    font-family: Graphik;
    font-size: 37px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}

.mob-cam-layer-2{
    width: 123px;
    height: 123px;
    -o-object-fit: contain;
    object-fit: contain;
    text-align: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: 0px;
    transform: scale(0.75);
}

.mob-get-early-access{
    width: 100%;
    height: 72px;
    font-family: Graphik;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    position: relative;
    top: -5px;
}

.mob-request-invite-left{
      width: 257.4px;
    height: 56.1px;
    border-radius: 52.8px;
    background-color: #6d77ff;
    transform: scale(0.8);

        margin: auto;
    top: -10px;
    position: relative;
    z-index: 60;
}

.mob-hurry-slots{
    width: 100%;
    position: relative;
    top: -10px;
    text-align: center;
    font-family: Graphik;
    font-size: 12px;
    /* text-align: left; */
    color: #ffffff;
}

.mob-modal-logo{
  width: 100%;
    text-align: center;
}

.mob-modal-logo img{
  height: 35px;
}
.mob-be-the-first{
width: 100%;
    text-align: center;
    font-family: Graphik;
    font-weight: 600;
}

.mob-already-in{
    font-family: Graphik;
    font-size: 14px;
    text-align: left;
    color: #6d3dbb;
    text-align: center !important;

}

.mob-instruction-sent{
  text-align: center;
}

.mob-email-input{
 width: 96%;
    height: 35px;
    background-color: #f0f0f0;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 31px;
    opacity: 0.6;
    font-family: Graphik;
    font-size: 13px;
    text-align: left;
    color: #5a5959;
}


.mob-modal-submit{
  width: 160px;
  height: 56px;
  border-radius: 50px;
  background-image: linear-gradient(252deg, #6d92ff, #6d77ff);
  margin-top: 15px !important;
    margin-bottom: 8px;
    margin: auto;
    box-shadow: 0px 12px 10px 0px rgba(0,0,0,0.2);
    transform: scale(0.6);
}

.mob-modal-submit-text{
    width: 45px;
    height: 20px;
    font-family: Graphik;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    position: relative;
    top: 16px;
    left: 46px;
}

.mob-thumbsup{
    left: -25px;
    top: 10px;
}

.error-text{
  font-size: 12px;
}

.social-share{
  width: 86%;
}

.social-share img{
  width: 90px !important;
}


}